/* Reset */
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.roboto-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.navbar {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  border-bottom:0.2rem solid #ffc107 ;
 
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo Left */
.logo {
  height: 60px;
  width: auto;
}

/* Centered nav-list */
.nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex: 1;
   margin: 0 1rem;
}


.nav-list a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
 
}

.nav-list a:hover {
  color: orange;
  
  border-bottom: 0.1rem solid;
}

/* Buttons Right */
.nav-buttons {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  gap: 1rem;
}

.btn {
  background-color: orange;
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}

.btn:hover {
  background-color: white;
  color: black;
}

.icons {
  color: white;
}
#menu-btn{
  display: none;
}
.home {
  background-image: url('./assets/images/bg.jpg'); /* from public folder */
  background-size: cover;
  background-position: center;
  height: 100vh;
}


.home-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
  align-items: center;
  justify-content: flex-start;
  padding-left: 120px;
 padding-top: 40px;
 
}

.home-content h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
}

.home-content .highlight {
  color: #ffc107; /* Yellow color */
}

.home-content p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #ccc;
}

/* .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;   /* Optional: control vertical spacing */

.custom-image {
  width: 200px;
  
  animation: spin 1s linear infinite;
}

@media (min-width: 640px) {
  .custom-image {
    width: 200px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

