@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline :none;
  border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
html{
overflow-x: hidden;
scroll-padding-top: 9rem;
scroll-behavior: smooth;
}
html::-webkit-scrollbar {
width: 0.8rem;
}
html::-webkit-scrollbar-track{

  background: transparent;
}
html::-webkit-scrollbar-thumb{
background: #fff;
border-radius: 5rem;

}
.roboto-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.navbar {
 position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: black;
  color: rgb(255, 253, 253);
  padding: 1rem 2rem;
  border-bottom:0.2rem solid #ffc107 ;
  
 
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo Left */
.logo {
  height: 60px;
  width: auto;
}

/* Centered nav-list */
.nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex: 1;
   margin: 0 1rem;
}


.nav-list a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
 
}

.nav-list a:hover {
  color: orange;
  
  border-bottom: 0.1rem solid;
}

.icons svg {
  font-size: 1.8rem;
  cursor: pointer;
}
.icons {
  color: white;
  display: flex;
  align-items: center;
  gap: 1.7rem; /* space between icons */
  margin-right: 3rem; /* push icons a bit left */
}

.nav-icon {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-icon:hover {
  color: #ffc107;
}
.menu-btn {
  display: none;
}

.home {
   position: relative; /* needed for overlay positioning */
  background-image: url('./assets/images/bg.jpg'); /* from public folder */
  background-size: cover;
  background-position: center;
  height: 100vh;
   padding-top: 100px;
}
/* Dark overlay */
.home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* adjust 0.6 for darkness */
  z-index: 0;
}


.home-content {
  position: relative;
  z-index: 2;
  max-width: 660px;
  align-items: center;
  justify-content: flex-start;
  padding-left: 120px;
 padding-top: 130px;
 
}

.home-content h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
}

.home-content .highlight {
  color: #ffc107; /* Yellow color */
}

.home-content p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #ccc;
}

.custom-image {
  width: 240px;
  animation: spin 1s linear infinite;
  position: absolute;      /* Enables manual positioning */
  top: 190px;               /* Adjust this to control vertical placement */
  right: 340px;            /* Adjust this to control horizontal placement */
  z-index: 10;             /* Ensures it sits above background */
}

@media (max-width: 768px) {
  .custom-image {
    width: 150px;
  }
  .menu-btn {
    display: block;
  }
 
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
